*{
  margin: 0;
  padding: 0;
  }

body{
	background-color: #FAF3E8;
	}
			
.ti{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	padding-top: 160px;
	text-align: center;
	}

.mo{
	font-family: 'Modak', cursive;
	font-size: 150px;
	letter-spacing: -15px;
	width: 60%;
	margin: auto 20%;
	padding-top: 40px;
	line-height: 125px;
	text-align: center;
	}
			
.op{
	font-family: 'Coiny', cursive;
	font-size: 20px;
	padding-top: 30px;
	text-align: center;
	}

a:link {color:black;
		text-decoration: none}
a:visited{color:black;}
a:hover {color:#FE5510;}

.re{
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
	padding-top: 135px;
	text-align: right;
	padding-right: 15px;
	}